body {
    font-family: arial, sans-serif;
    font-size: small;
    margin: 0px;
    padding: 0px;
}

.main_wrapper {
    display: flex;
    justify-content: space-around;
}

.google_logo {
    height: 92px;
    width: 272px;
}

.logo-subtext {
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    left: 215px;
    position: relative;
    top: -5px;
    white-space: nowrap;
    left: -60px;
}

.google {
    min-height: 100px;
    min-width: 400px;
    position: relative;
    padding-top: 109px;   
}

.google_container {
    margin: 25px;
}

.form_field {
    width: 698px;
    height: 60vh;
}

.input_area {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    
}

.input_wrapper {
    
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    height: 44px;
    border-radius: 24px;
    background: #fff;
    border: 1px solid #dfe1e5;
    margin: 0 auto;
    padding-right: 10px;
    padding-top: 1px;
    z-index: 3;
    flex-basis: fit-content;
}

.input_wrapper:hover {
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
    border: transparent solid 1px;
}

.input_child {
}

.text_input {
    width: 426px;
    flex-shrink: 2;
    height: 34px;
    outline: none;
    justify-content: center;
    border-style: hidden;
    font-size: 15px;
    margin-right: 4px;
}

.search_icon {
    height: 44px;
    width: 33px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
}

.blue {
    fill: #4285f4;
    border-style: none;
    outline: none;
    background: none;
    margin: 0;
    
}

.blue_icon_svg {
    height: 25px;
    width: 25px;
}

.icon_svg {
    height: 20px;
    width: 20px;
}

.button_div {
    top: 52px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.google_btn {
    background-color: #f8f9fa;
    font-size: 14px;
    padding: 0 16px;
    margin: 11px 4px;
    line-height: 27px;
    height: 36px;
    text-align: center;
    min-width: 54px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
}

.google_btn:hover {
    border: 1px solid #dfe1e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.footer {
    background: #f2f2f2;
    border-top: 1px solid rgb(218, 220, 224);
    width: 100%;
    position: absolute;
    min-height: 30px;
    bottom: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.footer_item {
   margin-bottom: 10px;
   margin-top: 10px;
   color: #70757a;
   font-size: 14px;
   text-decoration: none;
}

.title {
    font-size: 20px;
    margin: 25px 50px;
    color: #d93025;
}

.line {
    border-bottom: 1px solid #ebebeb;
}

.line_variant {
    border-bottom: 1px solid #ebebeb;
    clear: both;
    margin: 18px 0;
}

.nav_advanced {
    background: #f1f1f1;
    height: 60px;
    width: 100%;
}

.nav_advanced > div {
    line-height: 5px;
    vertical-align: middle;
}

.nav_g_master {
    padding: 15px 20px 0 15px;
    float: left;
}

.link {
    padding: 20px 20px 20px 15px;
    float: right;
}

.nav_g_container .nav_google {
    display: block;
    background-position: 0 -35px;
    height: 33px;
    width: 92px;
}

.nav_google {
    background: url('../images/google_icon.png');
    background-size: 528px 68px;
}

.border {
    margin: 40px 2% 0 50px;
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
}

.footer_item:hover {
    text-decoration: underline;
}

.question {
    padding-bottom: 15px;
    clear: both;
    position: relative;
    display: flex;
}

.question > div {
    line-height: 30px;
    min-width: 167px;
    width: 16%;
}

.question > div > input {
    width: 80%;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}

.div_in {
    flex-basis: 53%;
}

.div_info {
   position: relative;
}

.div_info > * {
    
}

.adv_input {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    width: 100%;
}

.header {
    font-size: 16px;
    color: #333;
}

.to_do_in_search {
    height: 30px;
    width: 200px;
    margin-left: -10px;
    font-size: 13px;
    font-weight: 700;
    color: #777;
}

.div_info_text {
    color: #555;
    font-size: 11px;
}

.div_info_text > span {
    color: #666;
    font-family: monospace;
    font-size: 11px;
}